.filter-bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 0.3em;

  input {
    z-index: -100;

    margin-left: 4px;
    margin-right: 4px;
    line-height: 20px;
    border: 1px solid #9696a5;
    color: #646469;
    font-size: 0.85em;
    padding: 4px 20px;
    border-radius: 100px;
    flex: 1;

    transition: transform 400ms ease, z-index 380ms 400ms;
    transform: translateX(200px);

    &:focus {
      outline: 1px solid #835afd;
    }
  }

  .active-search {
    outline: 1px solid #835afd;
  }

  button {
    z-index: -100;

    padding: 4px 10px;
    font-size: 0.85rem;
    white-space: nowrap;
    background: #fff;
    border-radius: 100px;
    border: 1px solid #9696a5;
    color: #727272;
    cursor: pointer;

    transition: transform 400ms ease, z-index 100ms 300ms;
    transform: translateX(200px);
  }

  svg {
    max-height: 22px;
    max-width: 22px;
    color: #9696a5;
  }

  .active-filter {
    background-color: #835afd12;
    border: 1px solid #835afd;
    color: #835afd;
  }

  .background-reset {
    background-color: #f8f8f8;
  }

  .filter-icon {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms ease;

    &:hover {
      background-color: #835afd40;

      & > svg {
        color: #835afd;
      }
    }
  }

  .display-filters {
    background-color: #835afd40;

    & > svg {
      color: #835afd;
    }
  }

  .right-filters {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 6px;
  }

  &::after {
    position: absolute;
    bottom: 8px;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #dadae6;
  }

  & > div {
    display: flex;
    width: 100%;
    visibility: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
}

.active-bar {
  input,
  button {
    z-index: 0;
    transform: translateX(0);
  }

  & > div {
    visibility: visible;
  }
}
