.room-code {
  max-width: 100%;
  height: 40px;
  width: 290px;
  border-radius: 8px;
  overflow: hidden;

  background: none;
  border: 1px solid #835afd;
  cursor: pointer;

  display: flex;

  div {
    height: 100%;
    background: #835afd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0;
    font-size: 14px;
    font-weight: 500;
  }

  &.copied {
    background: #835afd;
    color: #fff;
  }
}
